@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300..700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Fredoka', sans-serif;
}

.pagina-inteira {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #1b0847; 
}

.pagina-celular {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 375px;  
    height: 812px; 
    max-height: 90vh; 
    background-color: #050505; 
    border-radius: 40px;
    box-shadow: 0 20px 50px rgba(0,0,0,0.5);
    position: relative;
    color: white;
    overflow-y: auto;
    overflow-x: hidden;
    padding-bottom: 40px;
    -ms-overflow-style: none;
}

.pagina-celular::-webkit-scrollbar {
    display: none;
}

.botao-voltar {
    position: absolute;
    top: 20px;
    left: 25px;
    background:transparent;  
    border: none;
    color: transparent;
    font-size: 20px;
    cursor: pointer;
    z-index: 10;
}

.cpf-usuario {
    margin-top: 4px;
    font-size: 15px;
    font-weight: 400;
    color: #f6f1f1;
    display: flex;
    align-items: center;
    gap: 8px;
}

.avatar-usuario {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-top: 10px;
    flex-shrink: 0;
    border: 3px solid #00E5FF;
    align-items: center;
    display: flex;
    justify-content: center;

}

.nome-usuario {
    margin-top: 15px;
    font-size: 15px;
    font-weight: 400;
    letter-spacing: 0.5px;
}

.nivel-TEA {
    margin-top: 4px;
    font-size: 12px;
    font-weight: 400;
    color: #00E5FF;
    text-transform: uppercase;
    letter-spacing: 1px;
}



.terapias-usuario, .conquistas-usuario, .rotinas-usuario {
    margin-top:5px;     
    width: 43%;
    background-color: #1a1a1a;
    border-radius: 50px;
    padding: 4px;
    flex-shrink: 0;
    font-size: 15px;
    font-weight: 500;
    color: #fff;
    border: 3px solid #333;
    line-height: 1;
}

.terapias-usuario h3, .conquistas-usuario h3, .rotinas-usuario h3 {
    font-size: 15px;
    margin-bottom: 8px;
    color: #00E5FF;
}

.sensibilidades-usuario {
    margin-top: 5px;
    padding: 10px;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 500;
    color: #00E5FF;
    }

.sensibilidade {
    margin-top: 5px;
    background-color: #1a1a1a;
    border-radius: 35px;
    padding: 15px;
    flex-shrink: 5;
    font-size: 20x;
    font-weight: 500;
    color: #fff;
    border: 3px solid #333;
}
.mae{
    margin-top: 1px;
    padding: 10px;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 500;
    color: #00E5FF;
    text-align: left;
}
.mae-usuario {
    margin-top: 3px;
    padding: 1px;
    flex-shrink: 0;
    font-size: 15px;
    font-weight: 0;
    color: #fff;
    border-radius: 36px;
    background-color: #1a1a1a;
    border: 3px solid #333;

}

.pai{
    margin-top: 1px;
    padding: 10px;
    flex-shrink: 0;
    font-size: 20px;
    font-weight: 500;
    color: #00E5FF;
    text-align: left;
}
.pai-usuario{
    margin-top: 1px;
    padding: 1px;
    flex-shrink: 0;
    font-size: 15px;
    font-weight:0;
    color: #fff;
    border-radius: 36px;
    background-color: #1a1a1a;
    border: 3px solid #333;
}

.menu-item {
    color: #00e5ff;
}